{%extends 'nav.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block myblock%}
    <section class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card">
                <div class="card-body p-4">
      
                  <div class="row">
      
                    <div class="col-lg-7">
                      <h5 class="mb-3"><a href="#!" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                      <hr>
      
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                          <p class="mb-1">Shopping cart</p>
                          <p class="mb-0">You have {{totaldogs}}items in your cart</p>
                        </div>
                        <div>
                          <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                              class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                        </div>
                      </div>
                      {%for i in cartobj%}
      
                      <div class="card mb-3">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                              <div>
                                <img
                                  src="{{i.Pid.image.url}}"
                                  class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                              </div>
                              <div class="ms-3">
                                <h5>{{i.Pid.name}}</h5>
                                <p class="large mb-0">{{i.Pid.age}}</p>
                              </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                              <div style="width: 50px;">
                                <h5 class="fw-normal mb-0">{{i.Pid.breed}}</h5>
                              </div>
                              <div style="width: 80px;">
                                <h5 class="mb-0">{{i.quantity}}</h5>
                                <h5 class="mb-0">{{i.totalamount}}</h5>
                              </div>
                              <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      {%endfor%}
                      
      
                      
      
                      
      
                    </div>
                    <div class="col-lg-5">
      
                      <div class="card bg-primary text-white rounded-3">
                        <div class="card-body">
                          <div class="d-flex justify-content-between align-items-center mb-4">
                            <h5 class="mb-0">Card details</h5>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                              class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                          </div>
      
                          <p class="small mb-2">Card type</p>
                          <a href="#!" type="submit" class="text-white"><i
                              class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                          <a href="#!" type="submit" class="text-white"><i
                              class="fab fa-cc-visa fa-2x me-2"></i></a>
                          <a href="#!" type="submit" class="text-white"><i
                              class="fab fa-cc-amex fa-2x me-2"></i></a>
                          <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>
      
                          <form class="mt-4" method="POST" action="{%url 'payment'%}">
                            {%csrf_token%}
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                              <input type="text" id="typeName" class="form-control form-control-lg"  name="fn"
                                placeholder="First Name" />
                              <label class="form-label" for="typeName">First name</label>
                            </div>
      
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                              <input type="text" id="typeText" class="form-control form-control-lg" 
                                placeholder="Last Name" name="ln" />
                              <label class="form-label" for="typeText">Last name</label>
                            </div>

                            <div data-mdb-input-init class="form-outline form-white mb-4">
                              <input type="text" id="typeText" class="form-control form-control-lg" 
                                placeholder="Address"  name="address" />
                              <label class="form-label" for="typeText">Address</label>
                            </div>

                           
      
                            <div class="row mb-4">
                              <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline form-white">
                                  <input type="text" id="typeExp" class="form-control form-control-lg"
                                    placeholder="state" id="exp" name="state" />
                                  <label class="form-label" for="typeExp">State</label>
                                </div>
                                
                              </div>
                              <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline form-white">
                                  <input type="text" id="typeText" class="form-control form-control-lg"
                                    placeholder="city"  name="city"/>
                                  <label class="form-label" for="typeText">City</label>
                                </div>
                              </div>
                            </div>

                            <div class="row mb-4">
                              <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline form-white">
                                  <input type="number" id="typeText" class="form-control form-control-lg"
                                    placeholder="Phone Number"  name="phoneno"/>
                                  <label class="form-label" for="typeText">Phone Number</label>
                                </div>
                                
                              </div>
                              <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline form-white">
                                  <input type="number" id="typeText" class="form-control form-control-lg"
                                    placeholder="pincode"   name="pincode"/>
                                  <label class="form-label" for="typeText">Pincode</label>
                                </div>
                              </div>
                            </div>
                          
      

                            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg">
                              <div class="d-flex justify-content-between">
                                <span>Rs. {{totalbill}}</span>
                                <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                              </div>
                            </button>
                          </form>
      
              
                          <hr class="my-4">
      
                          
      
                          <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total(Incl. taxes)</p>
                            <p class="mb-2">Rs. {{totalbill}}</p>
                          </div>
      
                         
      
                        </div>
                      </div>
      
                    </div>
      
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {%endblock%}
</body>
</html>